nav {
    border: 1px solid black;
}
  
ul {
list-style-type: none;
display: flex; 
padding: 0;
margin: 0;
}

.nav-item {
display: flex; 
align-items: center;
margin-right: 20px;

}

.nav-item:first-child {
    border-right: 1px solid black; /* Add a vertical line */
  }

.nav-item a {
display: flex;
align-items: center;
text-decoration: none;
color: black;
margin-left: 5px;
}

.nav-item img {
    width: 40px; /* Adjust the width as per your desired size */
    height: 40px; /* Adjust the height as per your desired size */
    margin-right: 5px; /* Adding some spacing between the icons and text */
}

.pages {
    display: inline-block;
    background-color: #7b3b97;
    padding: 0 20px;
    margin-right: 10px;
    color: white;
    transform: skewX(-20deg);
    line-height: 50px;
    text-align: center;
    margin: 10px; /* Add margin to create white space around the .pages section */
}