.search-container {
    margin: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 1px; */
}
  
.search-container input {
    flex: 1;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}
  
.search-icon {
    padding-left: 5px;
    width: 25px;
    height: 25px;
}