.table-tag {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd; /* Add border */
  margin-top: 90px;
}
.table-container {
  margin-right: 20px; /* Add margin for spacing */
  margin-left: 20px; /* Add margin for spacing */
}

.table-tag th,
.table-tag td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table-tag th {
  font-weight: bold;
}

.table-tag tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-tag td {
  vertical-align: middle;
}

.table-tag td.status {
  font-weight: bold;
}
